:root {
    --blue: #0033A0;
    --white: #ffffff;
    --red: #DA291C;
  }

.row{
    display: flex;
    align-items: stretch;
    margin: 10px 50px 10px 50px;
}
.column{
    margin: 10px;
    padding: 10px;
    flex: 1;
    background-color: var(--blue);
    border-radius: 10px;
}


.row:after{
    content: "";
    display: table;
    clear: both;
}

img.bio{
    border-radius: 8px;
    width: 200px;
    float: left;
    margin: 0px 10px 10px 0px;
}

.column h1{
    text-align: center;
    color: var(--white);
}
.column h4{
    text-align: center;
    color:var(--white);
}
.column p{
    text-align: left;
    color: var(--white);
    font-size: large;
}

a{
    color: var(--white);
}

@media screen and (max-width: 600px) {
    .row{
        flex-direction: column;
        margin: 10px;
    }
    .column{
        width: 90%;
    }
    img.bio{
        width: 100%;
    }

}