:root {
    --blue: #0033A0;
    --white: #ffffff;
    --red: #DA291C;
    --darkred: #9E1E14;
  }

body{
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    background-color: var(--white);
    font-weight: bolder;
    margin: 0;
}
.navbar{
    background-color: var(--red);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction:row;
    align-items: stretch;
}
.navbar0{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    top: 0;
}
.navbar0 .logo object{
    width: 150px;
    padding: 5px 0px 5px 20px;
    pointer-events: none;
}
.navbar .navright{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar .navright a{
    padding: 20px;
    text-align: center;
    color: var(--white);
    text-decoration: none;
    align-content: stretch;
}

.navbar .navright a:hover{
    background-color: var(--darkred);
    color: var(--white);
}
.navbar:after{
    content: "";
    display: table;
    clear: both;
}

.intro h4, .intro h1{
    text-align: left;
    margin-left: 20px;
}
.intro{
    margin-bottom: 50px;
}
