:root {
    --blue: #0033A0;
    --white: #ffffff;
    --red: #DA291C;
  }
.introhome{
    background-color: var(--blue);
    border-radius: 10px;
    margin: 10px 50px 75px 50px;
    padding: 50px 50px 50px 50px;
}
.introhome h1{
    color:var(--white);
    text-align: center;
}
.introhome h2{
    color:var(--white);
}
.button {
    width: 50px; 
    display:block;
    margin: auto;
}
.arrow{
    fill: var(--white);
}

.introhome:after{
    content: "";
    display: table;
    clear: both;
}
.updates{
    display: block;
}
.updates h1{
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
.updates ol{
    list-style-type: none;
    padding: 5px;
}
.updates li{
    margin-top: 10px;
    padding: 10px 50px 10px 50px;
    color: black;
}
.updates li h2{
    color: black;
    text-align: left;
}
.updates a{
    float: right;
    margin: 0px 10px 10px 0px;
    padding: 10px;
    color: var(--white);
    background-color: var(--red);
    border-radius: 10px;
    text-decoration: none;
}
hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 4px solid var(--red);
    margin: 10px 20px 10px 20px;
    padding: 0;
}

