:root {
    --blue: #0033A0;
    --white: #ffffff;
    --red: #DA291C;
  }

#resourceTable, #search{
    margin: 0px 20px 10px 20px;
}

.introresource{
    background-color: var(--blue);
    text-align: left;
    margin: 20px;
    color: var(--white);
    padding: 10px;
    border-radius: 10px;
}
